.app {
  background-color: #222032;
  min-height: 100vh;
}

.head {
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-color: #3883cf;
  padding: 2vh;
}

.main {
  margin: 0 auto;
  max-width: 1250px;
  padding: 30px 0;
}

.button {
  border-radius: 9999px;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: #ffffff;
  background-color: #6f96bd;
}

.button.stop {
  background-color: #ff0000;
}

.button.stop:hover {
  background-color: #e95656;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #458f8c;
}

.visualizer {
  width: 100%;
}

.audio:focus {
  outline: none;
}

.isFiller {
  background-color: yellow;
}

.transcript {
  background-color: #8e97c3;
  height: 100%;
  border-radius: 5px;
  color: #ffffff;
  font-size: 22px;
  padding: 10px;
}

.divider {
  background-color: #e95656;
  height: 100%;
  width: 5px;
  border-radius: 12px;
}
